DB_USER=nexushub_admin
DB_PASSWORD=S24981696i
DB_HOST=localhost
DB_PORT=5432
DB_NAME=nexushub
PORT=5000
JWT_SECRET=17d30f3cb282e8c78a1094b6cf07da2fa9c4b4f71335c208d4573104fa14facda57f3e81fa159acb64da10cb1578a8773eeafd51371ab1502f2873771942eedf

# DATABASE_URL=postgresql://neondb_owner:npg_7VI6FHqQAtso@ep-mute-poetry-at4q2eal-pooler.c-9.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require